
<div class="ui page grid">
  <div class="row">
    <div class="column">
      <div class="ui huge message page grid center aligned">
        <h1 class="ui huge header">プロフィール登録</h1>
        <p>あなたの情報を登録してください。</p>
      </div>
    </div>
  </div>

  <div class="one column row">
    <%= render 'user_card', page: :student %>
  </div>

  <%= render 'layouts/footer' %>
</div>
