
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <%= image_tag "logo.png", class: "logo" %>
      Scissors
    </a>
    <a href="#" class="ui simple dropdown item">かす</a>
    <a href="#" class="ui simple dropdown item">かりる</a>
    <div class="ui right item">
      <i class="power off icon"></i>
      <%= link_to "ログアウト", :destroy_user_session, method: :delete %>
    </div>
  </div>
</div>
